.btn {
  font-size: 18px;
  color: var(--button-color);

  background-color: var(--button-bg);
  border: 0;

  cursor: pointer;

  &:active {
    transform: scale(0.96);
  }

  &.circle {
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }
}
