.logo {
  padding: 10px 0;

  background-color: var(--logo-bg);

  overflow: hidden;
  border-radius: 12px;

  text-align: center;
}

.logo-rain {
  height: var(--header-height);
  background-color: var(--header-bg);
}
