.card-cnt {
  display: flex;
  gap: 32px;
}

.card {
  margin: 0;

  border-radius: var(--border-radius-size);
  overflow: hidden;

  border: 1px solid var(--card-border-color);

  & img {
    display: block;
  }
}

.card-title {
  margin: 0;
}
