@media (width >= 1024px) {
  .tweet {
    max-width: 800px;
  }

  .tweet-title {
    margin-bottom: 8px;
  }

  .tweet-text {
    padding-top: 12px;
    padding-bottom: 12px;

    font-size: 18px;
    line-height: 1.5;
  }

  .tweet-image {
    text-align: center;
  }

  .tweet-image__src {
    width: 400px;
  }
}
