body {
  margin: 0;
  background-color: var(--bg-site-white);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-family-text-roboto);
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.site {
  display: grid;
  grid-template-columns: 268px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.main {
  overflow-y: auto;
}

.content {
  margin: 36px 24px 24px;
  padding: 16px;

  background-color: #fff;
  border-radius: 12px;
}
