body {
  margin: 0;
  background-color: var(--bg-site-white);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-family-text-roboto);
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.main {
  overflow-y: auto;
}

.content {
  padding: 32px;
  box-sizing: border-box;
  min-height: 100%;

  background-color: #fff;
  border-radius: 12px;
}
