/*  Colors    */
:root {
  /* Colors */
  --bg-site: #f6c03e;
  --bg-site-white: #f8f7f3;
  --bg-header: #3faeaf;

  --bg-nav-sp: #fff2da;
  --bg-nav-active: #f6c03e;
  --nav-color: #f6c03e;

  --bg-logo: #fff;

  --content-color: #333;

  /* Heights */
  --header-height: 50px;
}
