/*  Colors    */
:root {
  /* Colors */
  --site-bg: #f6c03e;
  --site-bg-white: #f8f7f3;
  --header-bg: #68bac9;
  --site-color: #666;

  --nav-sp-bg: #fff2da;
  --nav-bg-active: var(--site-bg);
  --nav-color: #917049;

  --logo-bg: #fff;

  --content-color: #333;

  --button-bg: #fff;
  --button-color: var(--site-bg);

  --action-group-bg: #f6c03e;
  --action-group-color: #917049;

  /* Heights */
  --header-height: 50px;
}
