@media (width < 1024px) {
  :root {
    /* Width */

    --sidebar-width: 120px;

    /* Font sizes */

    --site-font-size: 12px;

    --intro-font-size: 14px;

    --content-font-size: 14px;
    --h2-font-size: 18px;

    --footer-title-font-size: 14px;
  }
}
