.card-cnt {
  display: flex;
  gap: 32px;
}

.card {
  margin: 0;
  width: 600px;
  min-height: 500px;

  border-radius: 12px;
  overflow: hidden;

  & img {
    display: block;
  }
}

.card-actions {
  flex: 1;

  font-size: 18px;
  color: var(--action-group-color);
}

.card-actions__group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  border: 0; /* reset default button border */
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--action-group-bg);
}
