@media (width >= 1024px) {
  .footer {
    padding: 0 12px 12px;
  }

  .footer-cnt {
    padding: 16px;

    border-radius: var(--border-radius-size);
    background-color: var(--site-bg-white);
  }

  .footer__title {
    padding: 0 0 12px;
  }

  .footer__section {
    &.__4 {
      font-size: 14px;
    }
  }

  .footer__section:not(:first-child) {
    margin-top: 28px;
  }
}
