@media (width < 1024px) {
  .footer {
    margin-top: 4px;
    margin-bottom: 4px;

    border-radius: var(--border-radius-size);
    background-color: var(--site-bg-white);
  }

  .footer-cnt {
    grid-template-columns: 1fr 1fr 1fr;

    grid-row-gap: 12px;
    grid-column-gap: 12px;
    padding: 12px;
  }

  .footer__title {
    padding: 0 0 4px;
  }

  .footer__list {
    line-height: 24px;
  }
}
