.cardWallpaper {
  margin: 0;

  overflow: hidden; /* border-radius */
  border-radius: var(--border-radius-size);
}

.cardWallpaper-cnt {
  display: flex;
}

.cardWallpaper-img {
  display: block;
  width: 100%;
}

.cardWallpaper__title {
  margin: 0;
}
